.container-worck {
  padding: 110px 90px 110px 90px;
}
.title-worck {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.9;
  margin-bottom: 20px;
}
.title-name {
  font-size: 45px;
  font-weight: 700;
  line-height: 2;
}
.personal-information {
  border-top: 1px solid #ff6b08;
  border-bottom: 1px solid #ff6b08;
}
.list-information {
  color: $block-info-text-color;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.9;
}
.additional-information {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 1.9;
}
