.container-worck {
  padding: 110px 90px 110px 90px;
}
.title-worck {
  margin-top: 0;
  margin-bottom: 20px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.9;
}
.title-name {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 45px;
  font-weight: 700;
  line-height: 2;
}
.personal-information {
  border-top: 1px solid $marker-list-color;
  border-bottom: 1px solid $marker-list-color;
}
.list-information {
  color: $block-info-text-color;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.9;
}
.additional {
  padding-bottom: 55px;
}
.additional-information {
  margin-top: 10px;
  margin-bottom: 0;

  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 1.9;
}
