.sidebar {
  background-color: $bg-sidebar;
  height: 100%;
}
.preview-photo {
  width: 370px;
  padding-top: 40px;
}
.saide-title {
  margin-top: 0;
  margin-bottom: 20px;

  color: $g-white-color;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.09;
}
.skills-container {
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

// .contact {
//   color: #ffffff;
// }
.contact-symbol {
  color: $g-white-color;
  margin-right: 10px;
}

.sider-list {
  color: $marker-list-color;
  margin-left: 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.9;
}

.sider-text {
  color: $sider-text-color;
}
.sider-a {
  color: $link-side-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.09;
}
